
/* -- BASE STYLES -- */

body { font-size: 12px; }

/* -- LAYOUT STYLES -- */

@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/pts75f.eot');
    src: url('../fonts/pts75f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pts75f.woff') format('woff'),
    url('../fonts/pts75f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/pts55f.eot');
    src: url('../fonts/pts55f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pts55f.woff') format('woff'),
    url('../fonts/pts55f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.super-header { 
    background-image: url('../img/bg-super-header.png');
    background-position: 0 100%;
}
    .super-header .logo { margin: 15px 20px 15px 30px ; float: left; }
    .super-header .system-name { font-size: 17px; font-family: PTSansBold, serif; }
    .super-header .ministry-name { font-size: 13px; font-family: PTSansBold, serif; }
    .super-header .agency-name { font-size: 22px; font-family: PTSansBold, serif; }
    .super-header .ministry-agency-container { margin: 25px 0 0 0; }
    .super-header .system-name { margin: 25px 20px 0 20px; }

.header { }

    .header .pure-menu {
        background: #F1F3F9;
        border-width: 1px 0;
        border-style: solid;
        border-color: #CBCBCB;
        padding: 0.7em 0; }
    
    .header li a:hover,
    .header li a:focus {
        background: none;
        border: none;
        color: #0071BC; }
    
    .header .pure-menu a {
        padding: 0.5ex 1ex;
        color: #0071BC; }

    .header .pure-menu .pure-menu-heading {
        color: white;
        font-weight: 400;
        font-size: 14px;
        text-transform: none; }

    .header .pure-menu ul.rmenu { float: right; }
    .header .pure-menu ul.lmenu { float: none; }

    .header .pure-menu ul li.user a { cursor: default; }
    .header .pure-menu ul li.help { width: 20px; height: 20px; background: url(../img/question.png) no-repeat left; }

    .header .pure-menu ul.lmenu .separator {
        border-style: solid;
        border-width: 0 1px;
        border-left-color: #98c8ff;
        border-right-color: white;
    }

.title {
    padding: 0.5ex 1ex;
    background: #F1F3F9;
    border-bottom: 1px solid #CBCBCB; }

    .title h1, .title h2, .title h3 {
        margin: 0; padding: 0;
        border: none;
        font-weight: normal;
        vertical-align: middle; }

    .title h1 { font-size: 14pt; }

/* -- MENU STYLES -- */

.pure-menu a { color: inherit; }

.pure-menu li a, .pure-menu .pure-menu-heading { padding: 0.25ex 0.25ex; }

.pure-menu .pure-menu-heading { text-transform: none; font-size: 120%; }

/* -- TABLES -- */

.pure-table tbody th { background: none repeat scroll 0 0 #E0E0E0; }

/* -- CONTENT STYLES -- */


.content { padding: 6px; }

.content-wrapper { max-width: 1280px; margin: 0 auto; }

.content-wrapper.maxwidth { max-width: none; margin: 0; }

.content-maxheight {
    position: absolute;
    left: 0; top: 0;
    bottom: 0; right: 0;
    padding: 6px 0; }

    .content-maxheight .expand {
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px; }

.content h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: #555;
    margin: 2ex 0ex 1ex;
    padding: 0ex 0ex 4px; }

    .content h2:first-child { margin-top: 0; }